body {

h1 {
    color: #D04E4E;
}
    
h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: #BB5555;
    left: 0;
}      
    
h2 {
    color: #a6bbde;
}

h2:after {
    content: "";
    display: block;
    width: 85%;
    height: 4px;
    background: #848da4;
    left: 0;
}  

h3 {
    color: #e76f6f;
}

h3:after {
    content: "";
    display: block;
    width: 65%;
    height: 4px;
    background: #d37171;
    left: 0;
} 
    
h4 {
    color: #ccd6eb;
}

h4:after {
    content: "";
    display: block;
    width: 44%;
    height: 4px;
    background: #aab5cb;
    left: 0;
}     
     
a {
    text-decoration: underline;
    color: #D04E4E;
}    

a:hover {
    color: #aab3ca
}       
    
em {
    color: #D04E4E
}   
    
}
