body {
.external-link {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 13px;
    padding-right: 16px;
    background-position-y: 4px;
    cursor: pointer;
}
}
