body {
  --note-icon-1: url(/img/saber-tilt.svg);
  --note-icon-2: url(/img/tree-2.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);}
}
  
body.title-note-icon .cm-s-obsidian > header > h1[data-note-icon="saber-tilt"]::before,
body.filetree-note-icon .filename[data-note-icon="saber-tilt"]::before,
body.links-note-icon .internal-link[data-note-icon="saber-tilt"]::before,
body.backlinks-note-icon .backlink[data-note-icon="3"]::before {
  background-image: url(/img/saber-tilt.svg);
}
